#:schema node_modules/wrangler/config-schema.json
name = "focus-reader-web"
account_id = "9303008e4c04f5ef81b9b7ccfe6011fd"
main = ".open-next/worker.js"
compatibility_date = "2026-02-13"
compatibility_flags = ["nodejs_compat"]
routes = [{ pattern = "reader.level-up.dev", custom_domain = true }]

[assets]
directory = ".open-next/assets"
binding = "ASSETS"

[vars]
EMAIL_DOMAIN = "level-up.dev"
AUTH_MODE = "multi-user"
BETTER_AUTH_URL = "https://reader.level-up.dev"
RESEND_FROM_EMAIL = "no-reply@mail.level-up.dev"

[[d1_databases]]
binding = "FOCUS_DB"
database_name = "focus-reader-db"
database_id = "b4a813e6-ea46-4e4a-8985-512073565630"
migrations_dir = "../../packages/db/migrations"

[[r2_buckets]]
binding = "FOCUS_STORAGE"
bucket_name = "focus-reader-storage"

[[r2_buckets]]
binding = "NEXT_INC_CACHE_R2_BUCKET"
bucket_name = "focus-reader-cache"

[[queues.producers]]
queue = "focus-reader-extraction-queue"
binding = "EXTRACTION_QUEUE"
